<% provide(:title, "About") %>
<h1>About</h1>
<p>
  The <a href="http://www.railstutorial.org/"><em><%= t "rails_tutorial" %></em></a> is a
  <a href="http://www.railstutorial.org/book"><%= t "book" %></a> and
  <a href="http://screencasts.railstutorial.org/"><%= t "ss" %></a>
  <%= t "about1" %>
  <a href="http://rubyonrails.org/"><%= t "ror" %></a>.
  <%= t "about2" %>
</p>
