<% provide(:title, "Help") %>
<h1><%= t "help1" %></h1>
<p>
  <%= t "help2" %>
  <a href="http://www.railstutorial.org/help"><%= t "help3" %></a>.
  <%= t "help4" %>
  <a href="http://www.railstutorial.org/book"><em><%= t "rails_tutorial" %></em>
    <%= t "book" %></a>.
</p>
